.carrito {
    display: grid;
    grid-template-columns: auto;
}

.carritoContenedor {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   
}

.tituloCarrito {
    text-align: center;
    margin-top: 80px;
}

.botonCompra {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 50px;
}

.formularioCarrito {
    display: flex;
    justify-content: center;
}

.compra {
    border-radius: 25px;
    height: 50px;
    width: 100px;
}

#comprar {
    background-color: rgb(72, 170, 226);
    color: antiquewhite;
    font-weight: bold;
    border-radius: 25px;
    width: 70px;
    height: 40px;
}

#comprar:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
    cursor: pointer;
}

.compra:hover {
    background-color: rgb(62, 140, 214);
    color: white;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.tablaCarrito {
    border-collapse: collapse;
    text-align: center;
    color: rgb(0, 0, 0);
}

.cabezera {
    background-color: rgb(134, 132, 132);
}

.tablacarrito thead {
    background-color: black;
}

.tablaCarrito td {
    padding: 10px;
    border: 1px solid black;
}

.tablaCarrito tbody tr:nth-child(odd) {
    background-color: #a9dfbf;
}

.tablaCarrito tbody tr:nth-child(even) {
    background-color: #7dcea0;
}

.imagenCarrito {
    height: 70px;
    width: 70px;
}

.precio {
    background-color: rgb(160, 157, 157);
}

.pagar {
    background-color: rgb(160, 157, 157);
}

.Datosusuario {
    margin-top: 30px;
    background: none;
    color: black;
    height: 20px;
    margin-left: 15px;
    text-align: center;
}

#comprado{
    border-radius: 20px;
border: 1px solid #ffffff;
background-color: #ff922b;
color: #FFFFFF;
font-size: 15px;
font-weight: bold;
letter-spacing: 1px;
text-transform: uppercase;
}

.formularioCarrito{
    margin-top: 20px;
}

#usuarioCarrito{
    background-color: rgb(160, 157, 157);
    border: solid 1px black;
    font-size: 20px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
.cabezera{
    font-size: 10px;
}

.pagar{
    margin-bottom: 20px;
}

.precio{
    margin-bottom: 20px;
}

}