body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(27, 65, 4) 0%, rgba(52,121,9,1) 50%, rgba(180,255,0,1) 99%);
}

header {
    color: 	#cec9c9;
    background-color: #000000ec;
    text-align: center;
    margin-top: -35px;
    
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none; 
}
   
ul li a{
    
    color: #6bb84c;
    text-decoration: none;  
    margin-right: 10px;

  }

