body {
    font-family: Arial, sans-serif;
    background-color: #134e07fd;
}

header {
    color: 	#cec9c9;
    background-color: #000000ec;
    text-align: center;
    
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none; 
}
   
ul li a{
    
    color: #6bb84c;
    text-decoration: none;  
    margin-right: 10px;

  }

