body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(27, 65, 4) 0%, rgba(52,121,9,1) 50%, rgba(180,255,0,1) 99%);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}
   
ul li a{
    
    color: #ffffff;
    text-decoration: none;  
    margin-right: 10px;

}

a:hover {
    color:rgb(212, 140, 6);
}

h2 {
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 22, 22);
    padding: 5px;
}

.tabla{
    background-color:black ;
    color:white;
    border-collapse: separate;
    border-spacing: 50px;
}

.fotoProductos{
    height: 200px;
    width: 200px;
}

.descripciones{
    padding-bottom: 105px;
}

.PvP{
   padding-bottom: 150px;
}

.cantidad{
   padding-bottom: 150px;
}

.botones{
    padding-bottom: 150px;
}

.puntuaciones{
    padding-bottom: 150px;
}

.carritoLogoLink{
    display: inline-block;
}

.carritoFoto{
    display: flex;
    height: 35px;
    width: 40px;
}

.buscador{
    display: inline-block;
}

