header {
  position: sticky;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: black;
}

.buscadorDiv {
  display: flex;
  justify-content: center;
}

.buscador {
  font-weight: bold;
  color: black;
}

.buscador:hover {
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.catalogo {
  display: grid;
  grid-template-columns: auto auto auto;
}

.imagenProducto {
  width: 200px;
  height: 200px;
}

.nombreProducto {
  font-size: 25px;
}

.tarjeta {
  background-color: #000000;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  height: 400px;
  width: 400px;
}

.tarjeta:hover {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  background-color: rgb(20, 20, 20);
}

.tarjeta:hover .nombreProducto, .tarjeta:hover .precioProducto{
  color:rgb(212, 140, 6);
}

.comprame {
  background-color: yellow;
  border: none;
  height: 30px;
  border-radius: 30px;
}

.comprame:hover {
  box-shadow: 0 0 15px rgb(255, 251, 2);
  font-weight: bold;
}

.precioProducto {
  color: white;
}

.cantidad {
  margin-left: 5px;
}

.introProductos {
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .catalogo {
    display: grid;
    grid-template-columns: auto;
  }

  .tarjeta {
    height: 300px;
    width: 300px;
  }

  .imagenProducto {
    width: 100px;
  height: 100px;
  }

  .nombreProducto {
    font-size: 15px;
  }

  header {
    font-size: 10px;
  }

  .logo {
    height: 30px;
    width: 30px;
  }

  .cantidad {
    height: 10px;
    width: 10px;
  }
}