body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(27, 65, 4) 0%, rgba(52,121,9,1) 50%, rgba(180,255,0,1) 99%);
}

header {
    color: 	#cec9c9;
    background-color: #000000ec;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none; 
}
   
ul li a{
    
    color: #84e416;
    text-decoration: none;  
    margin-right: 10px;

}

a:hover {
    color:rgb(212, 140, 6);
}

h2 {
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 22, 22);
    padding: 5px;
}

